<footer>
    <div>
        <ul>
            <li>
                <a href="/">
                    <i class="fa-solid fa-house"></i>
                    Home
                </a>
            </li>
            <li>
                <% if(locals.user){ %>
                    <a href="/profile/<%= user.id %>">
                        <i class="fa-regular fa-id-badge"></i>
                        Profile
                    </a>
                <% }else{ %>
                    <a href="/profile/">
                        <i class="fa-regular fa-id-badge"></i>
                        Profile
                    </a>
                <% } %>
                
            </li>
        </ul>
    </div>
</footer>