
<footer>
    <div>
        <ul>
            <li>
                <a href="/">
                    <i class="fa-solid fa-house"></i>
                    Home
                </a>
            </li>

            <!-- Show profile link only if user is logged in -->
            <% if(locals.user){ %>
            <li>
                
                <a href="/profile/<%= user.id %>">
                    <i class="fa-regular fa-id-badge"></i>
                    Profile
                </a>
                
            </li>
            <% } %>
        </ul>
    </div>
</footer>