<link rel="stylesheet" href="/css/homeStyle.css">

<div class="sub-body">
    <% if(flash.success && flash.success.length>0){ %>
        <p><%= flash.success %></p>
    <% } %>
    <div id="home-container">
        <div id="post-container">
            <h2 class="head">Timeline</h2>
            <ul class="post-list">

                <% for(let post of posts){ %>
                <li>
                    <div class="post">
                        <%- include('./layouts/_post', {post: post}); %>
                    </div>

                    
                    <div id="comment-section">
                        <%- include('./layouts/_comment', {post: post}); %>
                    </div>


                </li>


                <% } %>

            </ul>
            
        </div>
        
        <div id="add-post-container">
            <%- include('./layouts/_addPost'); %>
        </div>
    </div>
</div>




<script src="/scripts/homeScript.js"></script>
        