<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/layoutStyles.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>

        <main>
            <%- body %>
        </main>

        <%- include('_footer'); %>
    </body>
</html>