<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/layoutStyles.css">
        <%- style %>
    </head>
    <body>
        <%- include('./layouts/_header'); %>

        <%- body %>

        <%- include('./layouts/_footer'); %>
    </body>
</html>