<link rel="stylesheet" href="/css/formStyles.css">

<div class="sub-body">

    <div class="form-div">
        <h1>Sign In</h1>

        <form action="/create-session" method="post">

        
            <input type="email" name="email" placeholder="Enter email ID">
            <input type="password" name="password" placeholder="Enter Password">
        
            <input type="submit" value="Sign In">
        </form>

        <div>
            <p>Sign in with :</p>
            <p class="social-auth">
                <a href="/auth/google"><i class="fa-brands fa-google"></i></a>
            </p>
        </div>

    </div>

    
</div>