<div>

    <p>Hi <%= comment.user.username %>,</p>
    <br>

    <p>Your post <strong><%= comment.post.postContent %></strong> has new Comment from <strong><%= comment.user.username %></strong>.</p>
    <br>

    <p><i>Login to your account for details..</i></p>
    <p><i>Greetings from ChatBot!!!</i></p>

</div>