form{
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

form input{
    font-size: 1em;
    line-height: 1.5;
    padding: 5px;
    margin: 5px 0;
    outline: none;

}