/* Styles for main container holding all 3 div. i.e. post section, add post, chat section */
#home-container{
    width: 96%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* Setting width and height for all 3 sub sections */
/* add post section holding add post form and friend list */
#add-post-container{
    background-color: lightgrey;
    width: 20%;
    height: 100%;
    border-radius: 10px;
}

/* chat section holding active users, past chats, chat box */
#chat-section{
    width: 20%;
    height: 100%;
    background-color: lightgrey;
    border-radius: 10px;
}

/* post container holding posts and comments */
#post-container{
    background-color: lightgrey;
    width: 58%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.head{
    color: rgb(1, 1, 1);
}

/* post list styles. Adding overflow scroll */
.post-list{
    list-style: none;
    padding-left: 0;
    box-sizing: border-box;
    height: 82%;
    overflow: scroll;
}

/* hiding scrollbar */
.post-list::-webkit-scrollbar{
    display: none;
}

/* Styling li element holding post and respective comments */
.post-list li{
    margin: 0.4rem 0.2rem;
    padding-bottom: 0.5rem;
    text-align: start;
    background-color: white;
    border-radius: 5px;
}

/* this div contains post related data */
.post{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post h5{
    width: 100%;
    margin: 0;
    padding: 0.4rem 0.4rem;
    background-color: rgb(1, 1, 109);
    color: white;
    border-radius: 5px 5px 0 0;
}

.post p{
    margin-left: 0.5rem;
    margin-right: 0.2rem;
}

.post-body{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.post-content{
    width: 100%;
}

/* Styling image uploaded with post */
.post-img{
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

/* Div holding likes and count */
.like-div{
    height: 50px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;    
}

.like-div i{
    font-size: 20px;
    margin-right: 0.5rem;
    color: navy;
}

.like-div i:hover{
    transform: scale(1.2);
}

.likes-count{
    font-size: 20px;
    margin-top: 0 !important;
    margin-bottom: 0;
    margin-left: 2rem !important;
}

/* add comment form holding division */
.post-comment{
    width: 100%;
    padding-left: 2rem;
}

/* Post delete button at last */
.post-delete{
    width: 5%;
    box-sizing: border-box;
    padding-top: 0.8rem;
    padding-left: 0.3rem;
}

.post-delete a{
    color: red;
    text-decoration: none;
}

/* Styles for add comment form */
.post-comment input{
    padding: 0.5rem;
    border-radius: 0.8rem;
}

.post-comment button{
    padding: 0.3rem;
    border-radius: 0.5rem;
}


/* Styling comments list */
.comment-list{
    list-style: none;
    padding-left: 0;
    box-sizing: border-box;
}

/* li elements for comments */
.comment-list li{
    margin: 0rem 0.2rem;
    padding: 0 0.2rem 0.4rem 0.4rem;
    text-align: start;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}

.comment{
    width: 95%;
}

/* Comment likes */
.comment .like-div{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.comment .like-div .like-span{
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 0.5rem;
}

.comment .like-div .like-span a{
    text-decoration: none;
}

/* Colors for like. Grey if not liked. Blue for Like. */
.grey{
    color: grey;
}

.blue{
    color: navy;
}

/* Delete button for comment */
.comment-delete{
    width: 5%;
    box-sizing: border-box;
    padding-top: 0.8rem;
    padding-left: 0.3rem;
}

.comment-delete a{
    color: red;
    text-decoration: none;
}

.comment h5{
    margin-bottom: 0;
}

.comment p{
    margin-bottom: 0;
    margin-top: 0.3rem;
}


/* Styles for add post container */
#add-post-container{
    padding: 0 0.5rem 0.5rem 0.5rem;
    box-sizing: border-box;
    text-align: start;
}

/* Styles for add post form */
#add-post-container textarea{
    width: 80%;
    display: block;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#add-post-container button{
    padding: 0.3rem 0.5rem;
}

#add-post form label{
    color: navy;
}

#add-post input[type="file"]{
    margin-bottom: 1rem;
}

#add-post h3{
    margin: 0.3rem 0;
}

/* Setting height for add post form section */
#add-post{
    height: 35%;
    box-sizing: border-box;
}


/* Styles for friends list. This styles apply for past chats list section from chat section */
.friend-list{
    height: 65%;
    box-sizing: border-box;
    padding-top: 0.7rem;
}

.friend-list h3{
    margin: 0.3rem 0;
}

/* Setting fixed height for list and setting overflow scroll */
.friend-list ul{
    height: 85%;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    overflow: scroll;
}

/* hiding scrollbar */
.friend-list ul::-webkit-scrollbar{
    display: none;
}

/* styling li element of friend list.
Using flex to align elements properly */
.friend-list ul li{
    padding: 0.5rem 0.2rem;
    margin: 0.2rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Styles for a tags used for sending request, Accept request. */
.friend-list ul li .friend-action{
    text-decoration: none;
    padding: 0.3rem;
    background-color: rgb(1, 24, 142);
    color: white;
    border-radius: 0.8rem;
    text-align: center;
}

.friend-list ul li .friend-action:hover{
    background-color: grey;
}

/* On clicking add friend i.e. after sending friend request styles */
.friend-list ul li .request-sent{
    padding: 0.3rem;
    background-color: rgb(72, 81, 130);
    color: white;
    border-radius: 0.8rem;
    text-align: center;
}

/* Styles for user name pointing to user profile */
.friend-list ul li .friend-profile-link{
    text-decoration: none;
    color: navy;
}

.friend-list ul li .friend-profile-link:hover{
    text-decoration: underline;
}

/* Styling user's image with round picture */
.user-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.user-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* Styles for chat section */
/* position relative for displaying chat box above it */
/* Overflow hidden to hide chat box. Only display chat box on opening any chat */
#chat-section{
    position: relative;
    overflow: hidden;
}

.user-chats{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Styles for list holding current active users */
.user-chats .current-active{
    width: 100%;
    height: 25%;
}

/* Past chats list */
.user-chats .friend-list{
    width: 100%;
    height: 70%;
}

.active-user{
    text-decoration: none;
    color: navy;
}

/* Styling image for active users */
.active-user img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/* p holding username of active user */
.active-user p{
    margin: 0.5rem;
}

#chat-section h3{
    text-align: left;
    padding-left: 1rem;
}

/* Styles to make current active list a horizontal list */
.current-active ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70%;
    overflow: scroll;
    display: flex;
    align-items: center;
}

.current-active ul::-webkit-scrollbar{
    display: none;
}

/* Display inline block to make elements appear next to each other */
.current-active ul li{
    display: inline-block;
    margin: 0.2rem;
}

/* Hiding notification dot when no new msg */
#user-past-chats .notification-dot{
    color: green;
    display: none;
}

/* Chat box styles. Position absolute i.e. it will have position w.r.t. chat section  */
/* Initially has no top, bottom, left, right values i.e. it is overflowing and overflow is hidden for chat section.
Hence this chat box is invisible initially */
.user-chat{
    width: 100%;
    height: 70%;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    transition: all 0.5s;
}

/* We toggle this class to chat box after clicking any chat. i.e. chat box will be visible */
.open-chat{
    bottom: 0;
}

.user-chat-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-chat-header h4{
    margin: 0.5rem 0.3rem;
}

.user-chat-header a{
    text-decoration: none;
    color: red;
    margin-right: 0.3rem;
}

.user-chat-messages{
    width: 100%;
    height: 70%;
}

/* Chat messages list styles */
.user-chat-messages ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.user-chat-messages ul::-webkit-scrollbar{
    display: none;
}

/* message styles */
.user-chat-messages ul li{
    max-width: 80%;
    padding: 0.2rem;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

/* left align styles for self msgs */
.left-align{
    margin-left: auto;
    margin-right: 0.2rem;
    background-color: rgb(0, 79, 0);
    color: white;
}

/* right align for msgs from friend */
.right-align{
    margin-left: 0.2rem;
    margin-right: auto;
    background-color: rgb(213, 171, 1);
    color: white;
}

/* Styling elements sending msgs */
.user-chat-send{
    width: 100%;
    height: 20%;
    padding: 0.2rem 0.3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-chat-send textarea{
    width: 80%;
}

/* Send msg button */
.user-chat-send button{
    padding: 0.2rem;
    font-size: 14px;
    background-color: green;
    color: white;
}

/* Styles for reactions */

.container{
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Styling like button */
.container > a{
    padding: 0.3rem 0;
    background-color: lightgrey;
    border-radius: 5px;
}

/* Styling div holding all reactions */
.emoji-container{
    width: 270px;
    height: 30px;
    border: 2px solid black;
    border-radius: 70px;
    display: none;
}

.emoji{
    position: relative;
}

/* Styling individual reaction */
.emoji img{
    width: 40px;
    height: 40px;
}

/* Style reaction name */
.emoji p{
    position: absolute;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-family: monospace;
    border-radius: 20px;
    top: -40px;
    visibility: hidden;
}

.emoji img:hover{
    transform: scale(1.2);
}

/* Display reaction name on hover */
.emoji a:hover ~ p{
    visibility: visible;
}

/* Matching 2 images with higher resolution with other emojis */
.extra img{
    width: 25px;
    height: 25px;
}

.extra p{
    top: -45px;
}

/* Styling like btn */

.post-like-btn img{
    width: 25px;
    height: 25px;
}

/* Styling counter display */
.likes-count img{
    width: 20px;
    height: 20px;
}

.likes-count i{
    font-size: 15px;
}


/* Styles for reaction details list */
/* main conainer */
.reaction-count-display{
    display: flex;
    flex-direction: column;
}

.reactions-container{
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: -1;
    display: none;
}

.react-content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* buttons styles which navigates to different reactions added */
.react-added{
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.react-added button{
    background: transparent;
    border: none;
}

/* Show bottom border for button on focus event */
.react-added button:focus{
    border-bottom: 1px solid green;
}

.react-added button img{
    width: 25px;
    height: 25px;
}

.react-added button i{
    font-size: 12px;
}

.react-lists-container{
    width: 100%;
    height: 85%;
    box-sizing: border-box;
    position: relative;
}

.react-list{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: left 0.5s;
    position: absolute;
    display: none;
}

/* Reaction name */
.react-list h5{
    margin: 0;
    height: 15%;
    box-sizing: border-box;
    padding: 5px;
    font-size: small;
}

/* List holding users who reacted */
.react-list ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 80%;
    overflow: scroll;
    box-sizing: border-box;
    padding: 0 5px;
    margin-bottom: 5px;
}

.react-list ul::-webkit-scrollbar{
    display: none;
}

.react-list ul li{
    box-sizing: border-box;
    padding: 3px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 3px 5px;
}

.react-list ul li p{
    margin: 0;
}

.react-list h5{
    background: transparent;
    color: black;
}

.react-list ul li img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}


/* Media queries for adjusting application to lower screen sizes */
@media screen and (max-width: 1100px) {

    #post-container{
        width: 100%;
    }

    #add-post-container{
        width: 100%;
        margin-bottom: 2%;
    }

    #chat-section{
        width: 100%;
        margin-top: 1rem;
    }


}