/* Styles for profile page  */

body{
    background-color: lightgrey;
}

/* Styling main conatainer holding profile details */
#profile-details{
    width: 60%;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 0;
}

.user-details-section{
    width: 90%;
}

/* Styles for profile image of user */
#prof-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: auto;
}

#prof-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.edit-user{
    width: 10%;
    box-sizing: border-box;
}

/* Styling for pencil icon which displays only for user's self profile page */
.edit-user button{
    display: block;
    font-size: large;
    border: none;
    background: transparent;
    color: navy;
    text-decoration: none;
    margin: 1rem 0;
}

/* Button is disabled when user is editing form fields. Styles for this. */
.edit-user button:disabled{
    color: grey;
}

/* Profile details styles. i.e. width, and other styles of input elements */
#profile-details h3{
    width: 100%;
}

#profile-details form{
    margin: auto;
    width: 90%;
}

#profile-details label{
    width: 100%;
    text-align: start;
    display: inline-block;
    font-size: large;
    padding-left: 1rem;
    margin-top: 1rem;
    color: navy;
}

#profile-details input{
    display: block;
    width: 100%;
    font-size: large;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
}

#profile-details input[type="file"]{
    margin-top: 0;
}
